@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #00316f;
	color: #fff;
}

.content{
	position: relative;
	text-align: center;
	margin: 12em auto;
	padding-bottom: 4em;
}

h1{
	margin-bottom: 1em;
	padding: 1.5em;
	background-color: rgba(0,0,0,0.5);
}

h2{
	font-size: 8px;
	color: #999;
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.icon-symbol,
.icon-symbol-1,
.icon-symbol-2,
.icon-symbol-3{
	padding: 0.5em;
	border: solid 2px rgba(0,0,0,0.5);
	border-radius: 300px;
}












